.page-header {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.card{
    margin: 1%;
    min-width: 200px;
    min-height: 200px;
}

.size{
    height: calc(100% - 80px);
    width: 100%;
}

.container{
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.card-body{
    text-align: center;
}

body{
    background-color: rgba(0, 0, 0, 0.205);
}

html{
    height: 100%;
    width: 100%;
}